<!DOCTYPE html>
<!--
  Multi-purpose chess coach UI.
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>chess coach</title>

  <!-- chessboard.js (requires jQuery) -->
  <script src="lib/jquery-3.4.1.min.js"></script>
  <script src="lib/chessboard-1.0.0.min.js"></script>
  <style type="text/css">
    @import "lib/chessboard.css";
    .notation-322f9 { display: none } /* hide rank/file numbers in chessboard.js */
  </style>

  <!-- chess.js provides a model for the game state, including move history and validation -->
  <script src="lib/chess.min.js"></script>

  <!-- custom ui for move list, forms using vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style type="text/css">
    li { display: inline; margin-right: 5px; } /* for now .. */
  </style>

</head>
<body>

  <div id="chessboard" style="width:480px; height:480px"></div>
  <div id="app">
    <move-history :moves="hist"></move-history>
    <valid-moves :moves="validMoves"></valid-moves>
  </div>

</body>
<script>

// Vue components -------------------------------------------------------------

Vue.component('move-history', {
  props: { moves: Array },
  template: `
  <div class="move-history">
    <p><strong>Move history:</strong></p>
    <ul class="move-history">
      <li v-for="m in moves">{{m.san}}</li>
    </ul>
  </div>`})

Vue.component('valid-moves', {
  props: { moves: Array },
  template: `
  <div class="valid-moves">
    <strong>Valid Moves:</strong>
    <ul class="valid-moves">
      <li v-for="m in moves">{{m.san}}</li>
    </ul>
  </div>`})


// data model -----------------------------------------------------------------

let chess = new Chess();
let data = {
  hist: [],             // history of moves (dictionaries from chess.js)
  validMoves: [],       // current valid moves (dictionaries)
}

/// Add a move made by either side to the history.
/// m is a string, usually in s0-s1 notation, since that's
/// the lowest common denominator.
function addMove(m, wasDrop) {
  let mv = chess.move(m, {sloppy:true})
  if (mv == null) throw new Error("invalid move: " + m);
  else data.hist.push(mv);
  if (!wasDrop) chessboard.move(m)
}

var goal = "";
var root = [];
var node = [];
var cpuIsWhite = false;
const PLY = 0, ALGEBRAIC = 1, SRCTGT = 2, SCORE = 3, NEXT = 4;

let chessboard = Chessboard('#chessboard', {
  position: 'start',
  orientation: cpuIsWhite ? 'black' : 'white',
  draggable: true,
  pieceTheme: (piece) => '../sprites/' + piece.toLowerCase() + '.png',
  onDrop(source, target, piece, newPos, oldPos, orientation) {
    let m = `${source}-${target}`;
    // the player's goal is to memorize a line, so if the goal is set,
    // only allow the goal move. otherwise, allow anything.
    if (m === goal || goal === "") {
      addMove(m, true)
      setTimeout(cpuMove, 0)}
    else return 'snapback';}});

xhr = new XMLHttpRequest();
xhr.open('GET', "repertoire.json");
xhr.onload = function() { restart(JSON.parse(xhr.response), true) };
xhr.send();
let app = new Vue({ el:'#app', data })

// nodes in our game tree are of two types:
//  - goal: the player always has a single move to match.
//  - pick: the cpu always has a choice of moves to make.
function restart(tree, firstTime) {
  cpuIsWhite = Boolean(Math.round(Math.random()));
  let orientation = cpuIsWhite ? "black" : "white";
  // avoid flicker if orientation isn't changing:
  if (orientation != chessboard.orientation()) chessboard.orientation(orientation);
  chessboard.start();
  chess.reset();
  root = node = tree || root;
  Vue.set(data, 'hist', [])
  Vue.set(data, 'validMoves', chess.moves({verbose:true}))
  if (cpuIsWhite) setTimeout(cpuMove, 1000);
  else playerMove(root[0]);}

function playerMove(best) {
  // user must choose the "best" move
  goal = best[SRCTGT];
  node = best[NEXT];}

function cpuMove(){
  // we should be looking at a choice node or null
  if (node) {
    let pick = Math.round(Math.random()*(node.length-1));
    node = node[pick]; // now we're on a single move
    addMove(node[SRCTGT])
    let last = node[node.length-1];
    if (Array.isArray(last)) playerMove(last[0]);
    else restart(root)} // leaf node in repertoire is a cpu move:
  else restart(root)} // leaf node was the player's move

</script>
</html>
